body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.leaflet-popup-content > .popup-container {
  padding: 0;
}

.leaflet-popup-content > .popup-container p {
  margin: 0;
  padding: 0;
}

.popup-container p.popup-title {
  font-size: 18px;
}

.popup-container p {
  padding-top: 12px;
}

.popup-container > div {
  padding-bottom: 12px;
}

.popup-container > div:last-of-type {
  padding-bottom: 0;
}