body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

.popup-complaint-type {
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}