* {
  box-sizing: border-box;
}

html {
  /* sets default font size to 10px so that 1rem = 10px */
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $fontStack;
  font-size: $fontSizeDefault;
}

a {
  text-decoration: none;
  font-style: italic;

  &:hover {
    text-decoration: underline;
  }
}

#root {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#map-pattern-fills {
  // the svg for the map's pattern fills should be hidden in the UI
  position: absolute;
  left: -1000000px;
}

// helper classes
.color-rent-strike {
  color: $rent-strike-color;
}
