header#aemp-titlebox {
  position: absolute;
  top: 16px;
  left: 10px;
  width: 320px;
  padding: 12px;
  background: #fff;
  border: 1px solid $rent-strike-color;
  background-clip: padding-box;
  z-index: 500;

  @media (max-width: 640px) {
    width: unset;
    right: 10px;
  }
}

.aemp-titlebox-closed {
  width: 150px !important;

  @media (max-width: 640px) {
    width: 105px !important;
    padding: 5px !important;
  }
}

details > h1 {
  margin: 1.6rem 0 1.2rem 0;
  font-family: "Harbour W00 Medium", "IBM Plex Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: $rent-strike-color;
}

@media (max-width: 640px) {
  header > h1 {
    font-size: 1.7rem;
  }
}

details {
  padding: 4px;
  max-width: 306px;
  margin: 0 auto;
}

details summary {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  color: $font-color-black;
  outline: none;

  @media (max-width: 640px) {
    font-size: 1.4rem;
  }
}

details summary::-webkit-details-marker,
details summary::marker {
  color: $rent-strike-color;
}

details p {
  font-size: 1.4rem;
  margin-top: 0.6rem;
}

@media (max-width: 640px) {
  details p {
    font-size: 1.4rem;
  }
}

details p:last-of-type {
  margin-bottom: 0;
}

.title-content-wrapper {
  max-height: 50vh;
  overflow-y: scroll;

  h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  p > a {
    color: $font-color-black;
  }

  p > a:hover {
    color: $rent-strike-color;
    text-decoration: underline;
  }

  p > a:visited {
    color: $link-visited;
  }
}

.submit-container {
  display: flex;

  p:first-child {
    margin-right: 12px;
    flex-shrink: 0;
    font-family: "IBM Plex Mono", monospace;
    color: $rent-strike-color;
  }
}
