header {
  width: 30%;
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 24px;
  background: #fff;
  border: 1px solid $rent-strike-color;
  background-clip: padding-box;
  z-index: 500;
}

@media (max-width: 640px) {
  header {
    left: 0;
    width: 80%;
    margin: 1rem;
    z-index: 400;
  }
}

header > h1 {
  margin: 0 0 1.2rem 0;
  // font-family: "VT323", monospace;
  font-family: "Harbour W00 Medium";
  font-weight: bold;
  // font-family: "Harbour W00 Medium";
  text-transform: uppercase;
  font-size: 2.2rem;
  color: $rent-strike-color;
}

@media (max-width: 640px) {
  header > h1 {
    font-size: 1.8rem;
  }
}

details > summary {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  color: $rent-strike-color;
}

details p {
  font-size: 1.6rem;
}

@media (max-width: 640px) {
  details p {
    font-size: 1.4rem;
  }
}

details p:last-of-type {
  margin-bottom: 0;
}

.title-content-wrapper {
  max-height: 50vh;
  overflow-y: auto;

  h2 {
    font-size: 1.8rem;
  }

  p > a {
    color: $policy-color-bg-3;
    text-decoration: underline;
  }

  p > a:hover {
    text-decoration: none;
    color: $rent-strike-color;
  }

  p > a:visited {
    color: $link-visited;
  }
}

@media (max-width: 640px) {
  .title-content-wrapper {
    max-height: 250px;
  }
}

.submit-container {
  display: flex;

  p:first-child {
    margin-right: 12px;
    flex-shrink: 0;
    font-family: "IBM Plex Mono", monospace;
    color: $rent-strike-color;
  }
}
