// #aemp-titlebox-toggle
header#aemp-titlebox {
  width: 320px;
  padding: 12px;
  background: #fff;
  border: 1px solid $rent-strike-color;
  background-clip: padding-box;
  z-index: 500;
}

.aemp-titlebox-open {
  position: absolute;
  top: 16px;
  left: 16px;
  transition: left 1s ease-out;

  @media (max-width: 900px) {
    top: 60px;
  }

  @media (max-width: 640px) {
    top: 16px;
  }
}

.aemp-titlebox-closed {
  position: absolute;
  top: 16px;
  left: -300px;
  transition: left 1s ease-out;

  @media (max-width: 900px) {
    top: 60px;
  }

  @media (max-width: 640px) {
    top: 16px;
  }
}

details > h1 {
  margin: 0 0 1.2rem 0;
  font-family: "Harbour W00 Medium", "IBM Plex Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: $rent-strike-color;
}

@media (max-width: 640px) {
  header > h1 {
    font-size: 1.7rem;
  }
}

header > #aemp-titlebox-toggle {
  height: 100px;
  width: 15;
  position: absolute;
  left: 305px;
  top: 5;
  background-color: $link-visited;
  // border: 1px solid $rent-strike-color;
  // border-left: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

details {
  padding: 4px;
}

details > summary {
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  color: black;
}

details > summary::-webkit-details-marker,
summary::marker {
  color: $rent-strike-color;
}

details p {
  font-size: 1.4rem;
  margin-top: 0.6rem;
}

@media (max-width: 640px) {
  details p {
    font-size: 1.4rem;
  }
}

details p:last-of-type {
  margin-bottom: 0;
}

.title-content-wrapper {
  max-height: 50vh;
  overflow-y: scroll;

  h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  p > a {
    color: $font-color-black;
  }

  p > a:hover {
    color: $rent-strike-color;
    text-decoration: underline;
  }

  p > a:visited {
    color: $link-visited;
  }
}

.submit-container {
  display: flex;

  p:first-child {
    margin-right: 12px;
    flex-shrink: 0;
    font-family: "IBM Plex Mono", monospace;
    color: $rent-strike-color;
  }
}

// #arrow-open {
//   background-image: url(../../public/assets/arrow_right.svg);
//   background-size: cover;
// }
