.leaflet-control-layers {
  border: 1px solid #c92a1d !important;
  border-radius: 0;
  font-family: "IBM Plex Mono", monospace;
  box-shadow: none;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
}

/* ----- text color ----- */
input[type="checkbox"] + span {
  color: black;
}

/* ----- unchecked ----- */
input[type="checkbox"] + span::before {
  border: 1px solid black;
  content: "\00a0";
  display: inline-block;
  font: 14px/1em sans-serif;
  height: 12px;
  margin-top: 0.25em;
  padding: 0;
  vertical-align: top;
  width: 12px;
}

/* ----- checked ----- */
input[type="checkbox"]:checked + span::before {
  border: 1px solid $rent-strike-color;
  background: $rent-strike-color;
  color: white;
  content: "\2713";
  text-align: center;
}

input[type="checkbox"]:checked + span::after {
  font-weight: bold;
}

// input[type="checkbox"]:focus + span::before {
//   outline: rgb(59, 153, 252) auto 5px;
// }
