#aemp-infowindow-container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aemp-infowindow {
  position: absolute;
  right: 0;
  top: 40px;
  width: 350px;
  margin: 10px 10px 0 0;
  max-height: 95%;
  overflow-y: auto;
  padding: 15px;
  background: white;
  // box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  font-family: "Noto Sans", sans-serif;
  border: 1px solid $rent-strike-color;
}

@media (max-width: 640px) {
  .aemp-infowindow {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
    z-index: 1000;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
}

.aemp-infowindow p {
  font-size: 1.4rem;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

.aemp-infowindow p.infowindow-title {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.8rem;
  color: $rent-strike-color;
}

a.aemp-infowindow-close {
  display: block;
  float: right;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bold;
  color: $rent-strike-color;
}

a.aemp-infowindow-close:hover {
  text-decoration: none;
  color: $link-visited;
}

.aemp-infowindow .policy-strength-color {
  display: inline-block;
  padding: 2px 6px;
  font-weight: bold;
}

.aemp-infowindow .policy-strength-color--1 {
  background-color: $policy-color-bg-1;
}

.aemp-infowindow .policy-strength-color--2 {
  background-color: $policy-color-bg-2;
}

.aemp-infowindow .policy-strength-color--3 {
  color: #fff;
  background-color: $policy-color-bg-3;
}

.infowindow-link > a {
  text-decoration: underline;
  color: $link-visited;
}

.infowindow-link:hover > a {
  color: $rent-strike-color;
}
