@import "~leaflet/dist/leaflet.css";

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;

  .leaflet-pane.leaflet-overlay-pane svg {
    path {
      @include use-svg-pattern("few");
      @include use-svg-pattern("few", true);
      @include use-svg-pattern("some");
      @include use-svg-pattern("some", true);
      @include use-svg-pattern("many");
      @include use-svg-pattern("many", true);
    }
  }
}

@media (max-width: 640px) {
  // when the infowindow & popup are open, reduce map height
  #root.aemp-popupopen #map {
    height: 50%;
  }

  // Hide map layers controls on mobile for now, as they get obscured
  #root.aemp-popupopen .leaflet-control-attribution,
  .leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    display: none;
  }
}
