div.legend {
  width: 100%;
  margin-bottom: 24px;
}

div.legendflex {
  display: flex;
  justify-content: space-between;
}

div.legendgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 14px;
  align-items: grid;
}

div.legendlabels > p,
div.legendgrid > p {
  margin: 0;
}

.expired-label {
  grid-column: 2 / -1;
  padding-left: 8px;
}

.legendbox,
%legendbox {
  width: 100%;
  height: 20px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  opacity: 0.7;
}

.legendbox-svg {
  @extend %legendbox;

  margin-top: 2px;
  margin-left: -1px;
  border: 1px solid $policy-color-str-2;

  svg {
    display: inline;
  }

  rect {
    fill: url("#pattern-some-protections");
  }
}

.scale1 {
  background-color: $policy-color-bg-1;
  border-color: $policy-color-str-2;
}

.scale2 {
  background-color: $policy-color-bg-2;
  border-color: $policy-color-str-2;
}

.scale3 {
  background-color: $policy-color-bg-3;
  border-color: $policy-color-str-3;
}
