#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

@media (max-width: 640px) {
  // when the infowindow & popup are open, reduce map height
  #root.aemp-popupopen #map {
    height: 50%;
  }

  // Hide map layers controls on mobile for now, as they get obscured
  #root.aemp-popupopen .leaflet-control-attribution,
  .leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    display: none;
  }
}

@media (min-width: 641px) {
  .leaflet-control {
    top: 40px;
  }
}
