@import "~leaflet/dist/leaflet.css";

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;

  .leaflet-pane.leaflet-overlay-pane svg {
    path {
      &.few-protections {
        fill: url("#pattern-few-protections");
      }

      &.few-protections--city-level {
        fill: url("#pattern-few-protections--city-level");
      }

      &.some-protections {
        fill: url("#pattern-some-protections");
      }

      &.some-protections--city-level {
        fill: url("#pattern-some-protections--city-level");
      }

      &.many-protections {
        fill: url("#pattern-many-protections");
      }

      &.many-protections--city-level {
        fill: url("#pattern-many-protections--city-level");
      }
    }
  }
}

@media (max-width: 640px) {
  // when the infowindow & popup are open, reduce map height
  #root.aemp-popupopen #map {
    height: 50%;
  }

  // Hide map layers controls on mobile for now, as they get obscured
  #root.aemp-popupopen .leaflet-control-attribution,
  .leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    display: none;
  }
}
