div.legend {
  width: 100%;
  margin-bottom: 24px;
}

div.legendgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-items: left;
}

div.submissions {
  margin-top: 16px;
  grid-row-gap: 16px;
}

div.legendlabels > p,
div.legendgrid > p {
  margin: 0;
}

.expired-label {
  grid-column: 2 / -1;
  padding-left: 8px;
}

.legendbox,
%legendbox {
  width: 95px;
  height: 75px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  opacity: 0.7;
}

.expired {
  background-image: url("../../public/assets/stripes-icon.png");
  background-size: cover;
  height: 102px;
  border: none;
}

.legendbox-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95px;

  .rent-strike-icon {
    background-image: url("../../public/assets/mapIcons/rent-strike.svg");
    background-size: 55px 55px;
    height: 40px;
    width: 40px;
  }

  circle {
    fill: $rent-strike-color;
    stroke: 1px solid white;
  }

  .cluster-svg-text {
    fill: white;
    font-weight: bold;
  }
}

.scale1 {
  background-color: $policy-color-bg-1;
  border-color: $policy-color-str-2;
}

.scale2 {
  background-color: $policy-color-bg-2;
  border-color: $policy-color-str-2;
}

.scale3 {
  background-color: $policy-color-bg-3;
  border-color: $policy-color-str-3;
}

.missingdata {
  background-color: black;
  opacity: 1;
}
