/**
 * APP WIDE VARIABLES
 * To use them in file you must @import them first
 */

// font defaults
$fontSizeDefault: 1.2rem; // = 12px
$fontStack: "Noto Sans", sans-serif;

// colors
$rent-strike-color: #c92a1d;
$policy-color-bg-1: #d9d9d9;
$policy-color-bg-2: #737373;
$policy-color-bg-3: #000;
$policy-color-str-1: #d9d9d9;
$policy-color-str-2: #737373;
$policy-color-str-3: #000;
$link-visited: #797979;
